<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Article</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container wiki-content">
      <h2>Update Article</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
    </div>
  </body>
</html>
